In [2]:
import pandas as pd
processed_df = pd.read_csv('processed_data.csv',encoding='cp949')
processed_df

       행정구역  소아청소년과  소아청소년_인구수  10만명당_병원수
0   강원특별자치도     112     212406  52.729207
1       경기도    1404    2258295  62.170797
2      경상남도     190     509149  37.317170
3      경상북도     144     356011  40.448188
4     광주광역시      82     238255  34.416906
5     대구광역시     236     354666  66.541478
6     대전광역시     112     227126  49.311836
7     부산광역시     282     444588  63.429512
8     서울특별시     456    1204547  37.856555
9   세종특별자치시      54      93890  57.514112
10    울산광역시      66     182467  36.170924
11    인천광역시     288     467772  61.568456
12     전라남도      50     257806  19.394428
13  전북특별자치도     132     256451  51.471821
14  제주특별자치도      70     118018  59.312986
15     충청남도     128     337103  37.970591
16     충청북도     112     240833  46.505255

In [3]:
processed_df.describe()

            소아청소년과     소아청소년_인구수  10만명당_병원수
count    17.000000  1.700000e+01  17.000000
mean    230.470588  4.564343e+05  47.890013
std     320.546821  5.274224e+05  13.088112
min      50.000000  9.389000e+04  19.394428
25%      82.000000  2.271260e+05  37.856555
50%     128.000000  2.578060e+05  49.311836
75%     236.000000  4.445880e+05  59.312986
max    1404.000000  2.258295e+06  66.541478

In [ ]:
#소아청소년과 병원의 시도별 분포 파악
CV = 320.546821	/ 230.470588
CV #CV 값이 1이상이므로 고도로 불균등한 분포임을 알 수 있다

1.390836131333166

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'